/*Estilos da página de login*/

#body-login{
	background-color: rgb(240, 240, 240);
	background-image: url("../_img/fundo.jpeg");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
}

#icone-login{
	position: absolute;
	right: 50%;
	top: 30%;
}

#container-box-login{
	position: absolute;
	top: 30%;
	width: 400px;
	height: 250px;
	border: 3px solid white;
	padding: 0.5%;
}

.font-color{
	color: white;
	font-size: 22px;
}

/*Estilos da página principal*/

#body-index{
	background-color: rgb(220, 230, 230);
}

#box-opt{
	margin: 1%;
	color: black;
}

#form-pesq{
	width: 20%;
	margin: 1%;
	float: right;
}

#box-pesq{
	float: left;
	width: 80%;
}

#btn-pesq{
	float: right;
	height: 5%;
}

/*Estilo da página de Registros de entrada*/

#body-pg-in{
	background-color: rgb(220, 230, 230);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
}

#box-form-in{
	position: absolute;
	top: 30%;
	width: 400px;
	height: 300px;
	padding: 0.5%;
}

#table-reg{
	width: 98%;
	margin: 1%;
}

#msg-ok{
	color: green;
	margin: 10%;
	text-align: center;
}

#icone-ok{
	color: green;
	position: absolute;
	right: 40.7%;
}

#link-in{
	position: absolute;
	top: 1%;
	right: 1%;
	width: 7%;
}

#icone-in{
	position: absolute;
	left: 5%;
	top: 25%;
}

/*Estilos página de Registros de saída*/

#body-pg-out{
	background-color: rgb(220, 230, 230);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
}

#box-out{
	position: absolute;
	top: 30%;
	width: 700px;
	height: 380px;
	padding: 0.5%;
}

#msg-ok-out{
	color: green;
	margin: 10%;
	text-align: center;
	position: absolute;
	bottom: 0%;
}

#icone-ok-out{
	color: green;
	position: absolute;
	right: 20%;
	bottom: 18.7%;
}

#link-out{
	position: absolute;
	top: 1%;
	right: 1%;
	width: 7%;
}

#icone-out{
	position: absolute;
	left: 5%;
	top: 25%;
}	

